{% extends 'base.html' %}
{% load static %}
{% load recent %}

{% block content %}
<div class="post-header">
            <img src="/media/{{ post.photo }}" alt="">
            <div class="info-post">
                <h1>{{ post.title }}</h1>
                <div class="breadcrumb">
                    <a href="{% url 'home' %}">Home</a> / <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a> / {{ post.title }}
                </div>
            </div>
        </div>
<div class="content-wrapper">
    <div class="content">
        <div class="posted">
            <span>{{ post.updated_at|date:"F j, Y" }}</span>
        </div>

        {{post.content|safe}}
    </div>

    <aside>
        {% get_trending %}
        {% get_recent %}
    </aside>
</div>

{% endblock %}